In [1]:
import pandas as pd

In [2]:
bunny=pd.read_csv(r"C:\Users\Abhay Gupta\Downloads\Compressed\DataSets-master\DataSets-master\bmi.csv")

In [3]:
bunny

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
5      Male     189     104      3
6      Male     147      92      5
7      Male     154     111      5
8      Male     174      90      3
9    Female     169     103      4
10     Male     195      81      2
11   Female     159      80      4
12   Female     192     101      3
13     Male     155      51      2
14     Male     191      79      2
15   Female     153     107      5
16   Female     157     110      5
17     Male     140     129      5
18     Male     144     145      5
19     Male     172     139      5
20     Male     157     110      5
21   Female     153     149      5
22   Female     169      97      4
23     Male     185     139      5
24   Female     172      67      2
25   Female     151      64      3
26     Male     190      95      3
27     Male     187      62      1
28   Female     163     159      5
29     Male     179     152      5
..      ...     ...     ...    ...
470    Male     147     142      5
471    Male     154     112      5
472  Female     178      65      2
473    Male     195     153      5
474  Female     167      79      3
475    Male     183     131      4
476  Female     164     142      5
477    Male     167      64      2
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
483    Male     146      85      4
484  Female     188     115      4
485    Male     173     111      4
486  Female     160     109      5
487    Male     187      80      2
488    Male     198     136      4
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
494    Male     152      98      5
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [4]:
bunny.head(1)

  Gender  Height  Weight  Index
0   Male     174      96      4

In [5]:
bunny.shape

(500, 4)

In [10]:
male=bunny[bunny["Gender"]=="Male"]

In [11]:
len(male)

245

In [13]:
noofmaleow=male[male["Index"]==3]

In [14]:
noofmaleow

    Gender  Height  Weight  Index
4     Male     149      61      3
5     Male     189     104      3
8     Male     174      90      3
26    Male     190      95      3
48    Male     161      72      3
80    Male     164      75      3
109   Male     149      66      3
115   Male     148      60      3
137   Male     194     108      3
146   Male     194     106      3
148   Male     195      98      3
151   Male     140      52      3
162   Male     192     101      3
179   Male     188     100      3
185   Male     165      80      3
201   Male     179      93      3
208   Male     191      96      3
226   Male     166      70      3
235   Male     170      81      3
240   Male     178      85      3
246   Male     182      98      3
250   Male     153      70      3
274   Male     178      83      3
278   Male     172      75      3
291   Male     183     105      3
316   Male     188      99      3
343   Male     179      83      3
355   Male     174      90      3
370   Male     151      62      3
379   Male     176      87      3
396   Male     187      96      3
469   Male     198     109      3

In [15]:
noofmaleow.shape

(32, 4)

In [16]:
female=bunny[bunny["Gender"]=="Female"]

In [17]:
female

     Gender  Height  Weight  Index
2    Female     185     110      4
3    Female     195     104      3
9    Female     169     103      4
11   Female     159      80      4
12   Female     192     101      3
15   Female     153     107      5
16   Female     157     110      5
21   Female     153     149      5
22   Female     169      97      4
24   Female     172      67      2
25   Female     151      64      3
28   Female     163     159      5
32   Female     195      65      1
33   Female     160     131      5
34   Female     157     153      5
35   Female     189     132      4
36   Female     197     114      3
38   Female     171     152      5
39   Female     185      81      2
40   Female     175     120      4
41   Female     149     108      5
44   Female     182     126      4
46   Female     188     122      4
50   Female     168     135      5
51   Female     176      54      1
55   Female     187      89      3
58   Female     164      70      3
60   Female     191      54      0
61   Female     141     143      5
65   Female     179     158      5
..      ...     ...     ...    ...
444  Female     186     128      4
447  Female     176     121      4
448  Female     146     101      5
451  Female     172      90      4
452  Female     169     121      5
454  Female     183      79      2
456  Female     188     128      4
457  Female     175      83      2
459  Female     184     147      5
463  Female     145     141      5
464  Female     181      80      2
466  Female     188      99      3
472  Female     178      65      2
474  Female     167      79      3
476  Female     164     142      5
478  Female     151      55      2
479  Female     147     107      5
480  Female     155     115      5
481  Female     172     108      4
482  Female     142      86      5
484  Female     188     115      4
486  Female     160     109      5
489  Female     179     150      5
490  Female     164      59      2
491  Female     146     147      5
492  Female     198      50      0
493  Female     170      53      1
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5

[255 rows x 4 columns]

In [18]:
nooffemaleow=female[female["Index"]==3]

In [19]:
nooffemaleow

     Gender  Height  Weight  Index
3    Female     195     104      3
12   Female     192     101      3
25   Female     151      64      3
36   Female     197     114      3
55   Female     187      89      3
58   Female     164      70      3
74   Female     185     100      3
82   Female     190     105      3
91   Female     183      96      3
92   Female     194     111      3
149  Female     168     115      3
152  Female     150      60      3
156  Female     182      84      3
158  Female     187     102      3
168  Female     151      67      3
177  Female     181      94      3
180  Female     162      74      3
184  Female     192     108      3
187  Female     182      84      3
232  Female     184      86      3
233  Female     177      81      3
248  Female     188      90      3
275  Female     187      94      3
292  Female     162      68      3
298  Female     187      92      3
328  Female     164      71      3
329  Female     185     102      3
340  Female     155      71      3
366  Female     185      94      3
388  Female     157      66      3
393  Female     183      87      3
395  Female     164      71      3
398  Female     149      61      3
400  Female     195     104      3
466  Female     188      99      3
474  Female     167      79      3

In [20]:
len(nooffemaleow)

36

In [21]:
index_name=pd.Series(["Extremely Weak","Weak","Normal","Overweight","Obesity","Extreme Obesity"])

In [23]:
index_name[4]

'Obesity'

In [24]:
index_name

0     Extremely Weak
1               Weak
2             Normal
3         Overweight
4            Obesity
5    Extreme Obesity
dtype: object

In [26]:
#Encode Male......0,Female......1
bunny.Gender[bunny.Gender=="Male"]=0
bunny.Gender[bunny.Gender=="Female"]=1

C:\Users\Abhay Gupta\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Abhay Gupta\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [27]:
bunny

    Gender  Height  Weight  Index
0        0     174      96      4
1        0     189      87      2
2        1     185     110      4
3        1     195     104      3
4        0     149      61      3
5        0     189     104      3
6        0     147      92      5
7        0     154     111      5
8        0     174      90      3
9        1     169     103      4
10       0     195      81      2
11       1     159      80      4
12       1     192     101      3
13       0     155      51      2
14       0     191      79      2
15       1     153     107      5
16       1     157     110      5
17       0     140     129      5
18       0     144     145      5
19       0     172     139      5
20       0     157     110      5
21       1     153     149      5
22       1     169      97      4
23       0     185     139      5
24       1     172      67      2
25       1     151      64      3
26       0     190      95      3
27       0     187      62      1
28       1     163     159      5
29       0     179     152      5
..     ...     ...     ...    ...
470      0     147     142      5
471      0     154     112      5
472      1     178      65      2
473      0     195     153      5
474      1     167      79      3
475      0     183     131      4
476      1     164     142      5
477      0     167      64      2
478      1     151      55      2
479      1     147     107      5
480      1     155     115      5
481      1     172     108      4
482      1     142      86      5
483      0     146      85      4
484      1     188     115      4
485      0     173     111      4
486      1     160     109      5
487      0     187      80      2
488      0     198     136      4
489      1     179     150      5
490      1     164      59      2
491      1     146     147      5
492      1     198      50      0
493      1     170      53      1
494      0     152      98      5
495      1     150     153      5
496      1     184     121      4
497      1     141     136      5
498      0     150      95      5
499      0     173     131      5

[500 rows x 4 columns]

In [38]:
x_input=bunny.drop("Index",axis=1)
#x_input=bunny.iloc[:,0:3]
#x_input=bunny[["Gender","Height","Weight"]]
#x_input=bunny.loc[:,"Gender":"Weight"]

In [39]:
x_input

    Gender  Height  Weight
0        0     174      96
1        0     189      87
2        1     185     110
3        1     195     104
4        0     149      61
5        0     189     104
6        0     147      92
7        0     154     111
8        0     174      90
9        1     169     103
10       0     195      81
11       1     159      80
12       1     192     101
13       0     155      51
14       0     191      79
15       1     153     107
16       1     157     110
17       0     140     129
18       0     144     145
19       0     172     139
20       0     157     110
21       1     153     149
22       1     169      97
23       0     185     139
24       1     172      67
25       1     151      64
26       0     190      95
27       0     187      62
28       1     163     159
29       0     179     152
..     ...     ...     ...
470      0     147     142
471      0     154     112
472      1     178      65
473      0     195     153
474      1     167      79
475      0     183     131
476      1     164     142
477      0     167      64
478      1     151      55
479      1     147     107
480      1     155     115
481      1     172     108
482      1     142      86
483      0     146      85
484      1     188     115
485      0     173     111
486      1     160     109
487      0     187      80
488      0     198     136
489      1     179     150
490      1     164      59
491      1     146     147
492      1     198      50
493      1     170      53
494      0     152      98
495      1     150     153
496      1     184     121
497      1     141     136
498      0     150      95
499      0     173     131

[500 rows x 3 columns]

In [45]:
#y_out=bunny["Index"]
y_out=bunny.iloc[:,3]

In [46]:
y_out

0      4
1      2
2      4
3      3
4      3
5      3
6      5
7      5
8      3
9      4
10     2
11     4
12     3
13     2
14     2
15     5
16     5
17     5
18     5
19     5
20     5
21     5
22     4
23     5
24     2
25     3
26     3
27     1
28     5
29     5
      ..
470    5
471    5
472    2
473    5
474    3
475    4
476    5
477    2
478    2
479    5
480    5
481    4
482    5
483    4
484    4
485    4
486    5
487    2
488    4
489    5
490    2
491    5
492    0
493    1
494    5
495    5
496    4
497    5
498    5
499    5
Name: Index, dtype: int64

In [47]:
x_input.shape

(500, 3)

In [48]:
y_out

0      4
1      2
2      4
3      3
4      3
5      3
6      5
7      5
8      3
9      4
10     2
11     4
12     3
13     2
14     2
15     5
16     5
17     5
18     5
19     5
20     5
21     5
22     4
23     5
24     2
25     3
26     3
27     1
28     5
29     5
      ..
470    5
471    5
472    2
473    5
474    3
475    4
476    5
477    2
478    2
479    5
480    5
481    4
482    5
483    4
484    4
485    4
486    5
487    2
488    4
489    5
490    2
491    5
492    0
493    1
494    5
495    5
496    4
497    5
498    5
499    5
Name: Index, dtype: int64

In [49]:
y_out.shape

(500,)

In [50]:
import numpy as np

In [51]:
X=np.array(x_input)

In [52]:
type(x_input)

pandas.core.frame.DataFrame

In [53]:
type(X)

numpy.ndarray

In [54]:
X=x_input.values.reshape(500,3)

In [55]:
X

array([[0, 174, 96],
       [0, 189, 87],
       [1, 185, 110],
       ...,
       [1, 141, 136],
       [0, 150, 95],
       [0, 173, 131]], dtype=object)

In [56]:
X=x_input.values.reshape(1,-1)

In [57]:
X

array([[0, 174, 96, ..., 0, 173, 131]], dtype=object)

In [58]:
X.shape

(1, 1500)

In [63]:
X_GHW=x_input.values.reshape(500,3)

In [60]:
X

array([[0, 174, 96],
       [0, 189, 87],
       [1, 185, 110],
       ...,
       [1, 141, 136],
       [0, 150, 95],
       [0, 173, 131]], dtype=object)

In [64]:
Y_I=y_out.values.reshape(500,1)

In [65]:
Y.shape

(500, 1)

In [66]:
#splitting the data into train and test set
X_train=X_GHW[:350]
X_test=X_GHW[350:]
Y_train=Y_I[:350]
Y_test=Y_I[350:]

In [67]:
Y_train.shape

(350, 1)

In [68]:
from sklearn.neighbors import KNeighborsClassifier

In [71]:
teacher= KNeighborsClassifier()

In [72]:
learner=teacher.fit(X_train,Y_train)

C:\Users\Abhay Gupta\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

In [77]:
p=learner.predict([[0,170,69]])
index_name[p]

2    Normal
dtype: object

In [78]:
#testing
#X_test[150x3]......Y_test[1501x1]
Ya=Y_test
Yp=learner.predict(X_test)

In [79]:
Yalist=list(Ya)
Yplist=list(Yp)

In [81]:
table=pd.DataFrame({"Ya":Yalist,"Yp":Yplist})

In [82]:
table

      Ya  Yp
0    [2]   3
1    [2]   2
2    [2]   2
3    [5]   5
4    [0]   0
5    [3]   3
6    [4]   4
7    [5]   5
8    [1]   1
9    [4]   5
10   [1]   1
11   [4]   5
12   [5]   5
13   [4]   4
14   [5]   5
15   [5]   4
16   [3]   3
17   [4]   4
18   [5]   5
19   [4]   4
20   [3]   3
21   [5]   5
22   [1]   1
23   [2]   2
24   [4]   4
25   [5]   5
26   [5]   5
27   [5]   5
28   [5]   4
29   [3]   3
..   ...  ..
120  [5]   5
121  [5]   5
122  [2]   2
123  [5]   4
124  [3]   3
125  [4]   4
126  [5]   5
127  [2]   2
128  [2]   2
129  [5]   5
130  [5]   5
131  [4]   4
132  [5]   5
133  [4]   5
134  [4]   4
135  [4]   4
136  [5]   5
137  [2]   2
138  [4]   4
139  [5]   5
140  [2]   2
141  [5]   5
142  [0]   0
143  [1]   2
144  [5]   5
145  [5]   5
146  [4]   4
147  [5]   5
148  [5]   5
149  [5]   5

[150 rows x 2 columns]

In [83]:
table.head(2)

    Ya  Yp
0  [2]   3
1  [2]   2

In [85]:
from sklearn.metrics import accuracy_score

In [86]:
acc=accuracy_score(Ya,Yp)*100

In [87]:
acc

91.333333333333329