In [15]:
import pandas as pd
import numpy as np

In [16]:
ser=pd.Series([1,2,3,4,5])

In [37]:
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [40]:
bun=pd.Series(["Stya Nadela","Sundar Pichayi"],index=["Microsoft","Google"])

In [42]:
bun

Microsoft       Stya Nadela
Google       Sundar Pichayi
dtype: object

In [43]:
bun.shape

(2,)

In [44]:
len(bun)

2

In [45]:
bun.values

array(['Stya Nadela', 'Sundar Pichayi'], dtype=object)

In [49]:
bun=pd.Series(["AG"],index=["inde"])

In [50]:
bun

inde    AG
dtype: object

In [54]:
dic={"Name":['Abhay','Ajay','Pawan'],
    "Sex":["Male","Male","Male"],
    "Occ":["Student","Student","Student"]}

In [55]:
dic

{'Name': ['Abhay', 'Ajay', 'Pawan'],
 'Occ': ['Student', 'Student', 'Student'],
 'Sex': ['Male', 'Male', 'Male']}

In [58]:
#to change the dict into tabular form,change into dataframe
mydf=pd.DataFrame(dic,index=["c1","c2","c3"])

In [59]:
mydf

     Name      Occ   Sex
c1  Abhay  Student  Male
c2   Ajay  Student  Male
c3  Pawan  Student  Male

In [61]:
mydf.keys()

Index(['Name', 'Occ', 'Sex'], dtype='object')

In [62]:
#version
pd.__version__

'0.19.2'

In [1]:
import cv2

In [2]:
cv2.__version__

'3.4.1'